/*header*/
.header
{
    margin: 0;
    padding: 0;
}

.navigation
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.navigation li
{
    list-style: none;
    margin: 15px 0 0 0;
}

.navigation li a
{
    color: white;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 8px 20px;
}

.navigation li a:hover
{
    color: rgb(97, 0, 0);
    transition: 0.7s;
}

#activeH:hover
{
    color: white;
    transition: 0.7s;
}

.buttons{
    display: flex;
}

button.SignUp, button.Login
{   
    color: white;
    background-color: rgb(97, 0, 0);
    border: none;
    margin: 5px 10px 5px 10px;
    padding: 5px 15px 5px 15px;
    border-radius: 5px;
    background: linear-gradient(blue, red);
}

button.SignUp:hover, button.Login:hover
{   
    background: linear-gradient(red, blue);
    transition: 2s;
}

.buttons .settings
{
    height: 25px;
    margin: 0 30px;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}

.buttons img
{
    margin: 5px 0 0 0;
    height: 25px;
}

.title
{
    margin: 0;
    text-align: center;
    display: flex;
    justify-content: center;
}

.title h2
{
    font-size: 28px;
    color: red;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    letter-spacing: 2px;
    margin: 5px 0 0 0;
}

/*resposive header*/
.checkbtn{
    font-size: 30px;
    color: white;
    float: left;
    line-height: 80px;
    margin-left: 25px;
    cursor: pointer;
    display: none;
}

#check
{
    display: none;
}

@media (max-width: 700px)
{
    .checkbtn{
        display: block;
    }

    ul{
        position: fixed;
        width: 100%;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
        flex-direction: column;
    }

    ul li
    {
        display: block;
        margin: 50px 0;
        line-height: 30px;
        cursor: pointer;
    }

    ul li a{
        font-size: 20px;
    }

    #check:checked ~ ul{
        left: 0;
    }

    .navigation{
        display:inline-block;
    }
}

/*
@media only screen and (max-width: 600px)

@media only screen and (min-width: 600px)

@media only screen and (min-width: 768px)

@media only screen and (min-width: 992px)

@media only screen and (min-width: 1200px)
*/


